<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <meta name="viewport" 
  content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <title>Patternize</title>
  <link rel="stylesheet" href="lib/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="lib/fonts/opensans_regular_macroman/stylesheet.css"/>
  <link rel="stylesheet" href="app/styles.css"/>
</head>
<body data-ng-app="patternizeApp" ng-init="isMenuOpen = false">
<main>
  <header ng-class="{open: isMenuOpen}">
    <div class="content">
      <div id="logo">
        <img src="img/patternize-logo.png" width="32" height="32" alt="Logo"/>
        <h1>Patternize</h1>
      </div>
      <a id="menu-button" class="btn btn-default pull-right" ng-click="isMenuOpen = !isMenuOpen">
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </a>
      <ul id="top-links">
        <li>
          <a class="top-link" ng-click="activePage = 'patterns'" ng-class="{active: activePage === 'patterns'}">
            <span class="glyphicon glyphicon-list-alt"></span>Patterns
          </a>
        </li>
        <li>
          <a class="top-link" ng-click="activePage = 'code'" ng-class="{active: activePage === 'code'}">
            <span class="glyphicon glyphicon-console"></span>Code
          </a>
        </li>
        <li>
          <a class="top-link" ng-click="activePage = 'blog'" ng-class="{active: activePage === 'blog'}">
            <span class="glyphicon glyphicon-book"></span>Blog
          </a>
        </li>
      </ul>
    </div>
  </header>
  <data-ng-view></data-ng-view>
</main>

<script src="lib/js/angular.js"></script>
<script src="lib/js/angular-route.js"></script>
<script src="app/app.module.js"></script>
<script src="app/app.routes.js"></script>
<script src="home/home.controller.js"></script>
<script src="patterns/patterns.controller.js"></script>
</body>
</html>